header {
  background-color: #787276;
  background-image: url('/images/flywheel.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 5%
}
body{
  padding: 2%;
  margin: 3%;
}
h1 {
  color : #FFFFFF;
  text-align: center;
}
nav  {
  text-align: center;
}
a {
  color : #222021;
  background-color: #DCDCDC;
}
nav a {
  display: inline-block;
  margin:2%;
  border-radius: 15%;
  text-decoration: none;
  padding: 3%;

}
.active {
  background-color: #C0C0C0;
}
nav a:link { 
  background-color: #C0C0C1;
  }

.currentLink {
   background-color: #000000;
}
aside.left {
  display: inline-block;
  background-color: #787276;
  width:25%;
  text-align: center;
}
aside img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 70%;
  display:block;
  text-align: center;
  margin: 10%;
  padding: 5%;



}
section.right {
  background-color: #D6CFC7 ;
  display: inline;
} 
.right {
		width: 75%;
		display: inline-block;
		padding-left: 2%;
	}
h2 {
  color: #3600FF ;
}