header {
  background-color: #787276;
  background-image: url('/images/flywheel.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 5%
}
body{
  padding: 2%;
  margin: 3%;
}
h1 {
  color : #FFFFFF;
  text-align: center;
}
nav  {
  text-align: center;
}
a {
  color : #222021;
  background-color: #DCDCDC;
}
nav a {
  display: inline-block;
  margin:2%;
  border-radius: 15%;
  text-decoration: none;
  padding: 3%;

}
.active {
  background-color: #C0C0C0;
}
nav a:link { 
  background-color: #C0C0C1;
  }

.currentLink {
   background-color: #000000;
}
aside.left {
  display: inline-block;
  background-color: #787276;
  width:25%;
  text-align: center;
}
aside img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 70%;
  display:block;
  text-align: center;
  margin: 10%;
  padding: 5%;



}
.right {
  background-color: #D6CFC7 ;
  display: inline;
} 
.right {
		width: 75%;
		display: inline-block;
		padding-left: 2%;
	}
h2 {
  color: #3600FF ;
}

table{
	color:#05314D;
	border-spacing: 1;
}

th >td {
  text-align: center;
  padding: 10%;
  height: 25%;
  vertical-align: middle;
  background: #C0C0C0 
  border: 4px solid #06324E; 
  border-radius: 10% top ;
  
}

tr>td{
	width:175px;
	height:40px;
	vertical-align:middle;
  
}
tr {
  text-align: center;
  padding: 10%;
  vertical-align: middle;
  border: 2px solid #05314D;
  
}

tr:nth-child(odd) {
	background: #F2F2F2;
}
tr:nth-child(even) {
	background: rgb(255, 247, 177);
}

th:first-child {
	-webkit-border-radius: 8px 0 0 8px;
	border-radius: 8px 0 0 8px;	
  width:50%;
  height : 60px;
  text-align: left;
}
td:first-child {
  width:50%;
  text-align: left;
}
th:last-child{
	-webkit-border-radius: 0 8px 8px 0;
	border-radius: 0 8px 8px 0;	
}
tr:hover {
  opacity: .8;
}